.Container{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 450%;
    padding-top: 100px;
    background: #100F0F;
  }

  .Container2{
    position: absolute;
    width: 100%;
    height: 91px;
    top: 510%;
    
    background: #3E3A3A;
  }