.IntroContainer {
  background-image: url("/assets/BGLIQUIFY.svg");
  background-size: cover;
  padding: 0px 4rem;
}

.DesignLinkContainer{
  position: absolute;
  top: 30px;
  right: 20px;
}

.homePageTextContainer{
  display: flex;
  align-items: flex-end;
}

.rotate{
    animation: loading 8s linear infinite;
   }

   @keyframes loading {
    0% { 
      transform: rotate(0deg); 
    }
    100% { 
      transform: rotate(360deg);
    }
   }

  
@media(max-width : 768px){
  .IntroContainer {
      padding: 0px 2rem;
    }

    .DesignLinkContainer {
      position: absolute;
      top: 80px;
      right: 20px;
    }

  .homePageTextContainer {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
    }
}