@font-face {
    font-family: grand;
    src: url("/static/fonts/ntf-grand-bold.otf");
}

.lolodile{
    margin: -10px 6px;
}

.colourChangingText {
    line-height: 1;
    width: auto;
    /* Use it when you need it. another way is to use margin auto. */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: grand;
    font-weight: 800;
    font-size: 120px;
    cursor: pointer;
    letter-spacing: 10px;
    border-radius: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 15px #FFFFFF, 0 0 25px #FFFFFF;
    animation: cycle 2s linear infinite;
}



@keyframes cycle {
    0% {
        text-shadow: 0px 0px 40px #eef3ab;
        color: #FFFFFF;
    }

    50% {
        text-shadow: 0px 0px 40px #CC66F0;
        color: #CC66F0;
    }
    
    100% {
        text-shadow: 0px 0px 40px #F1D37D;
        color: #F1D37D;
    }
}