.SkillsContainer{
  width: 100%;
  padding: 30px;
  height: auto;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr minmax(300px,500px);
}

.SkillsContainer_SkillsList{
  max-width: 900px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 10px;
}

.SkillsContainer_Marquee{
  font-family: Poppins;
  font-weight: 800;
  font-size: 5rem;
  padding: 0.5rem;
  line-height: 121px;
  color: #F1D37D;
  margin: auto;
  width: max-content;
}

.marquee {
  --gap: 2rem;
  --duration: 30s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  animation: scroll-left 32s linear infinite;
}

.marquee__content {
  --gap: 2rem;
  --duration: 30s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);

}

@keyframes scroll-left {
  
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}
@media (prefers-reduced-motion: reduce) {
  .marquee-group {
    animation-play-state: paused;
  }
}