@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Faustina:wght@300&family=Poppins:ital,wght@0,400;1,300&display=swap");

.Container {
  position: relative;
  height: 3683px;
  width: 1520px;
  background: #fffaed;

}

@media (max-width: 768px){
  .Container{
    width: auto;
    
  }
}

.Header {
  font-family: "Happy Monkey", cursive;
  position: absolute;
  width: 480px;
  height: 61px;
  left: 585px;

  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  color: #000000;
}

.Rectangle7 {
  position: absolute;
  width: 591px;
  height: 535px;
  left: 55px;
  top: 307px;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 65px;
}

.Rectangle8 {
  position: absolute;
  width: 709px;
  height: 639px;
  left: 700px;
  top: 307px;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 65px;
}

.Rectangle9 {
  position: absolute;
  width: 568px;
  height: 535px;
  left: 875px;
  top: 978px;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 65px;
}

.Rectangle10 {
  position: absolute;
  width: 728px;
  height: 535px;
  left: 55px;
  top: 1545px;
  background: #d9d9d9;
  border-radius: 65px;
  z-index: 1;
}
.Rectangle11 {
  position: absolute;
  width: 575px;
  height: 535px;
  left: 818px;
  top: 1545px;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 65px;
}
.Rectangle12 {
  position: absolute;
  width: 843px;
  height: 688px;
  left: 55px;
  top: 2112px;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 65px;
}

.Rectangle13 {
  position: absolute;
  width: 400px;
  height: 529px;
  left: 950px;
  top: 2112px;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 76px;
  z-index: 1;
  color: #545252;
}

.Rectangle14 {
  position: absolute;
  width: 457px;
  height: 641px;
  left: 55px;
  top: 2832px;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 65px;
}
.Rectangle15 {
  position: absolute;
  width: 843px;
  height: 641px;
  left: 550px;
  top: 2832px;
  z-index: 1;
  background: #d9d9d9;
  border-radius: 65px;
}

.D {
  z-index: 2;
  position: absolute;
  width: 129px;
  height: 238px;
  left: 70px;
  top: 978px;
  
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 500px;
  line-height: 610px;
  text-align: right;

  color: #cc66f0;
}

.e {
  z-index: 2;
  position: absolute;
  width: 129px;
  height: 238px;
  left: 330px;
  top: 767px;

  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 300px;
  line-height: 366px;
  text-align: right;

  color: #f6ed09;
}

.i {
  position: absolute;
  width: 129px;
  height: 238px;
  left: 290px;
  top: 1230px;
  z-index: 2;
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  line-height: 305px;
  text-align: right;

  color: #cc66f0;
}

.s {
  position: absolute;
  width: 129px;
  height: 238px;
  left: 476px;
  top: 890px;

  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 400px;
  line-height: 488px;
  text-align: right;

  color: #cc66f0;
  z-index: 2;
}

.g {
  position: absolute;
  width: 129px;
  height: 238px;
  left: 630px;
  top: 1204px;

  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 300px;
  line-height: 366px;
  text-align: right;

  color: #f7ed09;
  z-index: 2;
}

.N {
  position: absolute;
  width: 129px;
  height: 238px;
  left: 780px;
  top: 992px;

  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-size: 300px;
  line-height: 366px;
  text-align: right;

  color: #cc66f0;
  z-index: 2;
}

.Ellipse1 {
  position: absolute;
width: 559.89px;
height: 723.89px;
left: 575px;
top: 755.97px;
z-index: 0;
background: linear-gradient(180deg, #CC66F0 0%, #F1D37D 100%);
filter: blur(75px);
transform: matrix(0.76, -0.64, 0.72, 0.7, 0, 0);
}

.Ellipse2{
  position: absolute;
width: 551.9px;
height: 734.22px;
left: 158.01px;
top: 598px;

background: linear-gradient(180deg, #F1D37D 0%, rgba(102, 240, 240, 0.65) 100%);
filter: blur(75px);
transform: matrix(0.66, 0.75, -0.81, 0.59, 0, 0);
}
