@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TEX";
    src: url('/static/fonts/texgyreadventor-regular.otf');
}

@font-face {
    font-family: "SORA";
    src: url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Faustina:wght@300&family=Happy+Monkey&family=Poppins:ital,wght@0,400;1,300&family=Sora&display=swap');
}

@font-face {
    font-family: 'ntf-grand';
    src: local('ntf-grand'), url(/public/static/fonts/ntf-grand-bold.otf) format('otf');
  }

  @font-face {
    font-family: 'rajdhani';
    src: local('rajdhani'), url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap') format('ttf');
  } 

  ::-webkit-scrollbar {
   display: none;
  }



  *{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }




