.ele{
    position: relative;
    display: flex;
    justify-content: center;
    color:#fff;
    gap: 0.5rem;
    transform-origin: 0 10px;
    animation: rotateText 10s linear infinite;
}
@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#sabpe{
    color: aqua;
    position: relative;
    left:50%;
    font-size: 1.2rem;
    
}

.Rectangle15 {
    position: relative;
    width: 220px;
    height: 96px;
    left: 322px;
    top: 250px;
    background-color: #272724;
    border-radius: 30px;
  }
  .Text1 {
    position: relative;  
    left: 325px;
    top: 280px;
    width: 296px;
  }

  /* .all{
    cursor: none;
  } */
  .ProjectTile1,.ProjectTile2, .ProjectTile3, .ProjectTile4 {
    width: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.ProjectTile1{
    height: 254px;
    background-image: url("/assets/project1.png");
}

.ProjectTile1:hover img,
.ProjectTile2:hover img,
.ProjectTile3:hover img,
.ProjectTile4:hover img {
    opacity: 1;
    height: 50%;
    width: 50%;
}

@media(max-width:992px) {
    .ProjectContainer {
        gap: 28px;
    }

    .ProjectTile1,
    .ProjectTile2,
    .ProjectTile3,
    .ProjectTile4 {
        width: 160px;
    }

    .ProjectTile1 {
        height: 190px;
    }

    .ProjectTile2 {
        height: 320px;
    }

    .ProjectTile3 {
        height: 210px;
    }

    .ProjectTile4 {
        height: 200px;
    }

}

@media(max-width:768px){
    .ProjectContainer {
        padding: 20px;
        display: grid;
        grid-auto-flow: row;
        gap: 20px;
    }

    .ProjectTile1,
    .ProjectTile2,
    .ProjectTile3,
    .ProjectTile4 {
        width: 126px;
    }

    .ProjectTile1 {
        height: 136px;
    }

    .ProjectTile2 {
        height: 217px;
    }

    .ProjectTile3 {
        height: 156px;
        margin-left: 50%;
    }

    .ProjectTile4 {
        height: 145px;
    }

    .ProjectGroup {
        display: grid;
        grid-gap: 20px;
    }

    .ProjectGroup:nth-child(2) {
        margin-top: -150px;
    }

}